<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorServletAlumno</servlet-name>
        <servlet-class>controladoresServlet.ControladorServletAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaSession</servlet-name>
        <servlet-class>controladoresServlet.CreaSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerSession</servlet-name>
        <servlet-class>controladoresServlet.VerSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInstituto</servlet-name>
        <servlet-class>controladoresServlet.LogInstituto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorServletProfesor</servlet-name>
        <servlet-class>controladoresServlet.ControladorServletProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarServletAlumno</servlet-name>
        <servlet-class>controladoresServlet.MostrarServletAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarServletProfesor</servlet-name>
        <servlet-class>controladoresServlet.MostrarServletProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarLogin</servlet-name>
        <servlet-class>utilidades.VerificarLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorServletAlumno</servlet-name>
        <url-pattern>/controladorServletAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorServletProfesor</servlet-name>
        <url-pattern>/controladorServletProfesor</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>MostrarServletAlumno</servlet-name>
        <url-pattern>/mostrarServletAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaSession</servlet-name>
        <url-pattern>/creaSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerSession</servlet-name>
        <url-pattern>/verSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInstituto</servlet-name>
        <url-pattern>/logInstituto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarServletProfesor</servlet-name>
        <url-pattern>/mostrarServletProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarLogin</servlet-name>
        <url-pattern>/verificarLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
